<!DOCTYPE html>
<html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Material Admin</title>

    <!-- Vendor CSS -->
    <link href="~/Content/vendors/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="~/Content/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/Content/vendors/bower_components/sweetalert/dist/sweetalert-override.min.css" rel="stylesheet">
    <link href="~/Content/vendors/bower_components/material-design-iconic-font/css/material-design-iconic-font.min.css" rel="stylesheet">
    <link href="~/Content/vendors/socicon/socicon.min.css" rel="stylesheet">
    @*<link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />*@

    <!-- Kendo UI CSS -->
    <link href="@Url.Content("~/Content/kendo/2015.2.624/kendo.common-material.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.2.624/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.2.624/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.2.624/kendo.material.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.2.624/kendo.dataviz.material.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo/2015.2.624/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.2.624/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.2.624/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.2.624/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>

    <!-- CSS -->
    <link href="~/Content/css/app.min.css" rel="stylesheet" />



</head>
<body>
    @Html.Partial("_Header")
    
    <section id="main">
        @Html.Partial("_SideBar")
        @Html.Partial("_SecurityExplorer")
        <section id="content">
            <div class="container">
                @RenderBody()
            </div>
        </section>
    </section>

    @Html.Partial("_Footer")
    @Html.Partial("_OlderBrowser")


    <!-- Javascript Libraries -->

    <script src="~/Content/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/vendors/bower_components/flot/jquery.flot.js"></script>
    <script src="~/Content/vendors/bower_components/flot/jquery.flot.resize.js"></script>
    <script src="~/Content/vendors/bower_components/flot.curvedlines/curvedLines.js"></script>
    <script src="~/Content/vendors/sparklines/jquery.sparkline.min.js"></script>
    <script src="~/Content/vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>

    <script src="~/Content/vendors/bower_components/moment/min/moment.min.js"></script>
    <script src="~/Content/vendors/bower_components/fullcalendar/dist/fullcalendar.min.js "></script>
    <script src="~/Content/vendors/bower_components/simpleWeather/jquery.simpleWeather.min.js"></script>
    <script src="~/Content/vendors/bower_components/jquery.nicescroll/jquery.nicescroll.min.js"></script>
    <script src="~/Content/vendors/bower_components/Waves/dist/waves.min.js"></script>
    <script src="~/Content/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
    <script src="~/Content/vendors/bower_components/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Placeholder for IE9 -->
    <!--[if IE 9 ]>
        <script src="~/Content/vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
    <![endif]-->

    <script src="~/Content/js/flot-charts/curved-line-chart.js"></script>
    <script src="~/Content/js/flot-charts/line-chart.js"></script>
    <script src="~/Content/js/charts.js"></script>

    <script src="~/Content/js/charts.js"></script>
    <script src="~/Content/js/functions.js"></script>
    <script src="~/Content/js/demo.js"></script>


    </body>
</html>